<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head-elements(false)"></head>
<body>
<header th:replace="fragments/layout :: header"></header>
<section class="container">
    <h1>Terms and Conditions</h1>

    <p>In using this site you agree and aknowledge that: </p>
    <ol>
        <li>This site has been produced as part of a university project
            and whilst provided in good faith comes with no warranties whatsoever
        </li>
        <li>I reserve the right to withdraw this site at any time</li>
        <li>I reserve all copyrights and intelectual rights to the site</li>
        <li>This site uses cookies to improve your experience, however never stores any of your details.</li>
        <li>The locations you enter on this site will be shared with third parties as part of the process of generating
            the results,
            currently the only third party is Google, however this may increase in the future. The names entered are
            never shared with any one.
        </li>
        <li>As the user you <strong>must</strong> have obtained consent from your MeetUp attendees before entering their details into the system</li>
    </ol>
    <p>
        <em>Should you have any concerns surrounding how your details are processed please <a href="/contact">contact me</a></em>
    </p>
</section>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>