<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-elements">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MeetUpInTheMiddle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/tooltip.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/alert.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/button.js}"></script>
    <script th:src="@{/webjars/mustachejs/2.2.1/mustache.min.js}"></script>
    <script th:src="@{/js/fitBoundsPadding.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/cookie.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiMgEOqF4tK7vvUTBftuowg4sIJS85gWk&callback=initMap&v=3.24&libraries=places&region=gb"
    async defer></script>

</head>

<header th:fragment="header">
    <section th:if="${contact_success} == true" class="alert alert-success" id="mail-bar" role="alert">
        <p>Message Sent Successfully</p>
    </section>
    <section class="alert alert-warning alert-dismissible top-bar" hidden="hidden" id="cookie-bar" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>By using MeetUpInTheMiddle you are consenting to our use of cookies to improve your experience.</p>
    </section>
    <noscript>
        <section class="alert alert-danger top-bar" role="alert">
            <p><strong>This site requires JavaScript to work. Please enable JavaScript and refresh the page.</strong></p>
        </section>
    </noscript>
    <section class="row" >
        <section href="/" id="logo" title="MeetUpInTheMiddle">MeetUpInTheMiddle.com</section>
    </section>
</header>

<footer th:fragment="footer">
    <section class="span12">
        <hr/>
    </section>
    <a href="/contact">Contact</a> | <a href="/terms">Terms and Conditions</a>
</footer>
</html>