a {
    color: navy;
}

.top-bar {
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.8;
}

#mail-bar {
    background-color: rgba(52, 141, 37, 0.8);
}

#map {
    height: 76%;
    width: 99%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    height: 76%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 5px 5px 5px;
    overflow: scroll;
}

#poiTable tbody :hover {
    background-color: aliceblue;
}

#poiTable :hover {
    cursor: pointer;
}

hr {
    margin-bottom: 0;
}

footer {
    height: 7%;
}

.container {
    height: 76%;
}

#logo {
    max-height: 10%;
    float: left;
}

#peopleTable td {
    border: none
}

#tooltip {
    position: relative;
    top: -25px;
    cursor: help;
}

#add-person {
    cursor: pointer;
    color: #337AB7;
    display: inline;
    padding: 3px 0 3px 0;
}

.btn-group {
    display: inline;
}

.disabled#add-person {
    cursor: not-allowed;
}

.removePerson {
    color: red;
}

.removePerson:hover {
    color: red;
}

.tableControl {
    cursor: pointer;
    opacity: 0.5;
}

tr.disabled {
    opacity: 0.5;
}

.tableControl.disabled {
    cursor: not-allowed;
}

.tableControl:hover {
    opacity: 1;
}

.form-control {
    margin-bottom: 20px;
}

.glyphSpace {
    margin-bottom: 25px;
}

.row {
    margin: 0;
}

.poiMarker {
    color: lightskyblue;
}

.personMarker {
    color: red;
}

#share {
    margin-top: 25px;
}

.fb-share-button {
    vertical-align: top;
}

.infoWindowHeading img {
    max-width: 15%;
    display: inline-block
}

.infoWindowHeading h4 {
    display: inline-block
}

.info-window-element-wrapper {
    display: block;
}

.info-window-element {
    display: inline;
    margin-right: 2px;
}

.info-window-links {
    display: inline-block
}

.opening-times {
    display: none;
}

/*non - mobile*/
@media screen and (min-width: 760px) {
    #overlay {
        width: 30%;
    }

    h1 {
        font-size: 2em;
    }

    #grip {
        display: none;
    }
}

/*mobile*/
@media screen and (max-width: 760px) {
    #overlay {
        width: 100%;
    }

    #overlayContent {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    #grip {
        content: '....';
        width: 8%;
        height: 100%;
        padding-top: 45%;
        padding-left: 2%;
        padding-right: 2%;
        position: absolute;
        left: 92%;
        display: inline-block;
        overflow: hidden;
        line-height: 7px;
        vertical-align: middle;
        font-size: 14px;
        letter-spacing: 2px;
        color: #143a67;
        text-shadow: 1px 0 1px rgba(54, 28, 255, 0.66);
        font-weight: 500;
    }

    #grip::after {
        content: '.. .. .. ..';
    }
}