#map {
    height: 78%;
    /*position: absolute;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    height: 80%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-device-width: 480px) {
    #overlay{
        width: 100%;
    }
}

@media screen and (min-device-width: 481px) {
    #overlay{
        width: 30%;
    }
}

hr{
    margin-bottom: 0;
}