<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MeetUpInTheMiddle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/cookie.js}"></script>
</head>
<body>
<header th:replace="fragments/layout :: header"></header>
<section class="container">
    <h1>Contact</h1>

    <p>
        All feedback or comments on this site will be welcomed. Please detail your query below and I will get back to
        you.
    </p>

    <form th:action="@{/contact}" th:object="${contactBean}" method="POST">
        <section id="error-section" class="alert alert-danger" th:if="${#fields.hasErrors('all') || error != null}"
                 role="alert">
            <th:block th:each="err : ${#fields.allErrors()}">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="error-message" th:text="${err}"></span>
                <br />
            </th:block>

                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="error-message" th:if="${error != null}">An error occured sending your message.  Please try again later.</span>
                <br />
        </section>

        <section class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name">name</label>
            <input th:field="*{name}" id="name" type="text" required class="form-control"/>
        </section>
        <section class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label for="email">email</label>
            <input th:field="*{email}" id="email" type="email" class="form-control"/>
        </section>
        <section class="form-group" th:classappend="${#fields.hasErrors('subject')} ? 'has-error'">
            <label for="subject">subject</label>
            <input th:field="*{subject}" id="subject" type="text" required class="form-control"/>
        </section>
        <section class="form-group" th:classappend="${#fields.hasErrors('message')} ? 'has-error'">
            <label for="message">message</label>
            <textarea rows="6" th:field="*{message}" id="message" class="form-control" required></textarea>
        </section>
        <div class="checkbox">
            <label><input th:field="*{sendCopy}" id="sendCopy" type="checkbox"> send me a copy</label>
        </div>
        <!--TODO - reCAPTURE-->
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</section>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>