<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head-elements"></head>
<body>
<header th:replace="fragments/layout :: header"></header>
<section id="overlay">
    <section id="overlayContent">
        <!--TODO put instructions here.-->
        <section class="glyphSpace">
            <span id="tooltip" class="glyphicon glyphicon-question-sign pull-right" aria-hidden="true"
                  data-toggle="tooltip" data-placement="bottom"
                  title="Detailed instructions regarding how the page should be used will be included here."></span>
        </section>

        <form action="#" method="post" role="form" autocomplete="off" id="newPersonForm">
            <input class="form-control" type="text" id="newName" placeholder="name"/>
            <input class="form-control" type="text" id="newFrom" placeholder="traveling from"/>
            <select class="form-control" id="newMode" title="mode of transport">
                <option th:each="type : ${T(com.meetupinthemiddle.model.TransportMode).values()}"
                        th:value="${type}" th:text="${type.getText()}"></option>
            </select>
            <section class="glyphSpace">
                <span id="add-person" class="glyphicon glyphicon-plus pull-left disabled"></span>
            </section>
            <table class="table" id="peopleTable">
                <tbody>
                </tbody>
            </table>
            <select id="poi" title="Type of place to meet" class="form-control">
                <option th:each="type : ${T(com.meetupinthemiddle.model.POIType).values()}"
                        th:value="${type}" th:text="${type.getText()} + ' in the middle'"></option>
            </select>
            <button type="button" disabled id="submitButton" class="btn btn-primary btn-block">
                MeetUpInTheMiddle!
            </button>
        </form>
    </section>

    <section id="share" th:replace="fragments/social :: share"> </section>
    </section>
</section>
<section class="" id="map"></section>
<footer th:replace="fragments/layout :: share"></footer>
</body>
</html>