<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MeetUpInTheMiddle</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <script th:src="@{webjars/jquery/2.2.2/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
</head>
<body>
<header>
    <div class="row">
        <!--TODO change image for actual logo-->
        <img id="logo" class="col-md-2" th:src="@{img/imageSquare.jpg}" src="../static/img/imageSquare.jpg"/>

        <div id="titles" class="col-md-10">
            <h1>Meet Up in the Middle</h1>
            <!--TODO put actual slogan if there will be one-->
            <em>Some text will go here ...</em>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <hr />
        </div>
    </div>
</header>
</body>
</html>