<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <context:component-scan base-package="com.meetupinthemiddle" />
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetClass" value="java.lang.System"/>
    <property name="targetMethod" value="setProperty"/>
    <property name="arguments">
      <list>
        <value>webdriver.gecko.driver</value>
        <value>/Users/44284Sa/TM470/meet-up-in-the-middle/acceptance-tests/src/test/resources/geckodriver</value>
      </list>
    </property>
  </bean>
  <bean id="webdriver" class="org.openqa.selenium.firefox.FirefoxDriver"/>
 </beans>
          